


@font-face {
    font-family: 'bebas neue';
    src: url('/css/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/css/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'bebas neue';
    src: url('/css/fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('/css/fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuelight';
    src: url('bebasneue_light-webfont.woff2') format('woff2'),
         url('bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue_regular-webfont.woff2') format('woff2'),
         url('bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuethin';
    src: url('bebasneue_thin-webfont.woff2') format('woff2'),
         url('bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
