.header {
  padding-top: $leading;
  font-size: $text-large;
  text-align: center;
}
// logo
.header-logo a {
  color: $text-color;
}


// navigation
.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 2rem;
}

.nav li:last-of-type {
  margin-right: 0;
}

.nav a {
  color: $gray;
}

.nav .active {
  color: $text-color;
  border-bottom: 2px solid $brand-primary;
}
