---
layout: default
---

<div class="container-small">

  <h1 class="text-center">Reflections</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    <h2>
    <a href="{{site.baseurl}}/reflections/term-1/">Term 1</a>
    <h2>
    <h2>
    <a href="{{site.baseurl}}/reflections/term-2/">Term 2</a>
    <h2>
    <h2>
    <a href="{{site.baseurl}}/reflections/term-3/">Term 3</a>
    <h2>
    <h2>
    <a href="{{site.baseurl}}/reflections/shenzhen/">Research trip</a>
    <h2>
    <h2>
    <a href="{{site.baseurl}}/reflections/fabacademy/">Fab Academy</a>
    <h2>
    <h2>
    <a href="{{site.baseurl}}/reflections/final/">Final Intervention</a>
    <h2>
  </div>



</div>
